# Data cleaning

## Librairies

In [139]:
import pandas as pd
import json
import ast
import re

### import data

In [117]:
df = pd.read_csv('data/restaurant_data.csv')

### data overview

In [118]:
df.head(2)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,ya9qZ-AeNav0H0EWZg7l7g,baroche-paris-3,Baroche,https://s3-media2.fl.yelpcdn.com/bphoto/p6oseQ...,False,https://www.yelp.com/biz/baroche-paris-3?adjus...,204,"[{'alias': 'brasseries', 'title': 'Brasseries'}]",4.0,"{'latitude': 48.871315, 'longitude': 2.307362}",[],€€,"{'address1': '101 rue la Boétie', 'address2': ...",3.314360e+10,+33 1 43 59 69 57,2748.909032
1,5oR_HYjo9dJUQCIr9jpzfw,le-train-bleu-paris-3,Le Train Bleu,https://s3-media2.fl.yelpcdn.com/bphoto/Z9XhJ0...,False,https://www.yelp.com/biz/le-train-bleu-paris-3...,256,"[{'alias': 'french', 'title': 'French'}]",4.0,"{'latitude': 48.844901, 'longitude': 2.373278}",[],€€€€,"{'address1': 'Place Louis Armand', 'address2':...",3.314343e+10,+33 1 43 43 09 06,2963.974796

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             950 non-null    object
 1   alias          950 non-null    object
 2   name           950 non-null    object
 3   image_url      943 non-null    object
 4   is_closed      950 non-null    bool
 5   url            950 non-null    object
 6   review_count   950 non-null    int64
 7   categories     950 non-null    object
 8   rating         950 non-null    float64
 9   coordinates    950 non-null    object
 10  transactions   950 non-null    object
 11  price          750 non-null    object
 12  location       950 non-null    object
 13  phone          914 non-null    float64
 14  display_phone  914 non-null    object
 15  distance       950 non-null    float64
dtypes: bool(1), float64(3), int64(1), object(11)
memory usage: 112.4+ KB

In [120]:
df['location'].iloc[0]

"{'address1': '101 rue la Boétie', 'address2': None, 'address3': None, 'city': 'Paris', 'zip_code': '75008', 'country': 'FR', 'state': '75', 'display_address': ['101 rue la Boétie', '75008 Paris', 'France']}"

### Data cleaning process

In [121]:
# interesting features : 
# -- name (-)
# -- review_count (++ cleaned)
# -- categories (++ not_cleaned)
# -- rating (++ cleaned)
# -- price (++ not_cleaned)
# -- location (not_cleaned)
# -- zip_code (++ cleaned)

In [122]:
df.head(1)

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,coordinates,transactions,price,location,phone,display_phone,distance
0,ya9qZ-AeNav0H0EWZg7l7g,baroche-paris-3,Baroche,https://s3-media2.fl.yelpcdn.com/bphoto/p6oseQ...,False,https://www.yelp.com/biz/baroche-paris-3?adjus...,204,"[{'alias': 'brasseries', 'title': 'Brasseries'}]",4.0,"{'latitude': 48.871315, 'longitude': 2.307362}",[],€€,"{'address1': '101 rue la Boétie', 'address2': ...",3.314360e+10,+33 1 43 59 69 57,2748.909032

In [123]:
# first step - drop useless columns
df = df.drop(['id', 'alias', 'image_url', 'is_closed', 'url', 'coordinates', 
              'transactions', 'phone', 'display_phone', 'distance'], axis= 1)

In [124]:
# second step - prepare data for choropleth maps
# 1 - extract zip code from location 
#   -- transforming location strings into dictionnaries 
#   -- create a new zip code column

In [125]:
# transform location strings into proper python dictionnaries
df['location'] = df['location'].apply(lambda x : ast.literal_eval(x))

In [126]:
df['location'].iloc[0]['zip_code']

'75008'

In [127]:
# create a column with all the zip codes 
df['zip_code'] = df['location'].apply(lambda x: x['zip_code'])

In [128]:
# step 3 - clean categories, price, and location 
#        -- categories is a string so we need to convert it to a python dictionnary
ast.literal_eval(df['categories'].iloc[0])[0]['alias']

'brasseries'

In [129]:
# clean category 
df['categories'] = df['categories'].apply(lambda x: ast.literal_eval(x)[0]['alias'])

In [131]:
# clean price
df['price'] = df['price'].replace(['€', '€€', '€€€', '€€€€'], [1.0, 2.0, 3.0, 4.0])

In [135]:
# clean location
df['location'] = df['location'].apply(lambda x: x['address1'])

In [137]:
df['location']

0                  101 rue la Boétie
1                 Place Louis Armand
2                    2 rue Descartes
3           11 rue Grégoire de Tours
4                  2 bis rue de Lyon
                   ...
945                100 rue Rambuteau
946               47 rue Montpensier
947    6 rue des Fosses Saint-Marcel
948           1 rue de la Convention
949          4 Cité de l'Ameublement
Name: location, Length: 950, dtype: object

In [141]:
# getting only the street name 
df['street'] = df['location'].apply(lambda x: re.sub('\d', '', x))

In [149]:
# deleting the "bis" remaining
df['street'] = df['street'].str.replace('bis', '')

In [151]:
# dropping location
df.drop(['location'], axis=1, inplace=True)

In [159]:
# save cleaned data to csv file
df.to_csv('data/restaurant_cleaned.csv', index=False, encoding="utf-8-sig")